.Galeria {
    width: 100%;
    min-height: 100vh;
    background-color: #C0A9BD;
    /* background-color: #C0A9BD; */
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.contenedor_titulo{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 14rem;

}
.blob5 { 
    width: 18rem;
    height: 16rem;
    background-size: cover;
    background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M663%2C585Q402%2C670%2C334.5%2C383.5Q267%2C97%2C595.5%2C298.5Q924%2C500%2C663%2C585Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22%237CF9B8%22 d=%22M663%2C585Q402%2C670%2C334.5%2C383.5Q267%2C97%2C595.5%2C298.5Q924%2C500%2C663%2C585Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
    position: absolute;
    background-position-x: -64px;
    object-fit: cover;
  }

  .titulo_galeria{
    font-size: 4em;
    z-index: 1;
    padding-left: 4rem;
}


.container_galeria{
    padding: 3rem;
}

.h2_galeria{
    font-size: 3rem;
    padding: 3rem;
    text-align: center;
}

.image_galeria{
    display: block;
    width: 100%;
}

/* .over_galeria{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(255, 255, 255, 0.9);
} */

.caption{
    font-size: 2rem;
    text-align: center;
}

.thumbnail:hover{
    transform: translateY(-4px);
}

.img-container:hover .overlay{
    opacity: 1;
}

.slider{
    width: 98%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.inner{
    display: flex;
    animation: scroll 35s linear infinite ;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 5));
    }
}

.item{
    min-height: 200px;
    min-width: 400px;
    padding: 14px;
}

.inner:hover {
    animation-play-state: paused;
}

.item img{
    width: 100%;
    height: 90%;
    border-radius: 12px;
    pointer-events: none;
}

.carousel{
    cursor: grab;
    overflow: hidden;
}

/*BUTTON VER MÁS*/

.button7 {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    margin: 1rem;
  }
  
  .button7:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }